<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{fragments :: page_head('Verification Succeeded!', 'none')}"
  />
  <body>
    <div class="container-fluid">
      <div>&nbsp;</div>

      <div class="text-center" style="margin-top: 100px">
        <div>
          <i class="fas fa-check-circle fa-5x text-success"></i>
        </div>
        <h2 class="mt-4">Customer Verification</h2>
        <h4>Congratulations! Your account has been verified.</h4>
        <p class="mt-4">
          <a th:href="@{/login}" class="btn btn-primary btn-lg">
            <i class="fas fa-sign-in-alt"></i> Login Now
          </a>
        </p>
      </div>

      <div>&nbsp;</div>

      <div th:replace="~{fragments :: footer}"></div>
    </div>
  </body>
</html>
