.nav-container {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  background: green;
}


.logo-img {
  height: 45px;
}


header h2 {
  font-size: 1.5rem;
  color: white;
  flex: 1;
  text-align: center;
  margin: 0;
}

button .btn-login {
  background: white;
  color: red;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
